#home-wrapper{
  margin: 100px auto;
  max-width: 800px;
}

#home-content{
  flex-direction: row;
  display: inline-flex;
}


#home-cover-wrapper{
  width: 100%;
  max-width: 480px;
  height: 500px;
  margin: 0 1em;
  flex-shrink: 0;
}

#home-textbox{
  display: initial;
  max-width: 25vw;
  padding: 0 17px 17px;
}

#cover-img{
  height:100%;
  width: 100%;
}

@media only screen and (max-width: 60rem){
  #home-content{
    flex-direction: column;
    width: 100%;
  }
  #home-cover-wrapper{
    margin: 0 auto;
  }
  #home-textbox{
    padding-top: 2rem;
    max-width: 75%;
    margin: 0 auto;
  }
}