#work-wrapper{
  margin: 3em auto;
  max-width: 1200px;
  width: 95%;
}

#work-content{
  display: flex;
  flex-direction: row;
}

.title{
  margin: auto;
}

.work-list{
  max-width: 400px;
  width: 100%;
  padding: 1em;
}

.work-item{
  margin: 2em 0;
  position: relative;
}

.work-item .nav-tile{
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.work-item .name{
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 0.8em;
  letter-spacing: 0;
}

.work-list .title-wrapper {
  text-align: center;
  padding: 1em;
}

.work-list .divider{
  margin: 2em 0;
}

.work-page-wrapper{
  max-width: 1000px;
  width: 80%;
  margin:5em auto 0;
}

.content{
  flex-direction: row;
}

.banner{
  width: 100%;
}

.MuiGrid-item{
  flex-grow: 1;
}

.grid-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 2em;
  margin: 1em 0;
}

.work-page-wrapper .divider{
  margin: 3em 0;
}

.credits{
  margin-bottom: 5em;
}

.awssld{
  --slider-height-percentage: 100% !important;
  height: 100%;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

@media only screen and (max-width: 60rem){
  #work-content{
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .work-list{
    margin: 0 auto;
  }

}