#menu-wrapper {
  float: right;
  padding: 50px 50px 0px 0px;
}

.menu-item{
  font-family: Arial,verdana,sans-serif;
  margin-left: 20px;
  font-family: Crimson Text;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.5em;
  cursor: pointer;
  color: #111;
  vertical-align:middle;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.35s;

}

.menu-item:hover{
  border-bottom-color: #111
}

.active-link{
  border-bottom-color: #111
}

#instagram-icon{
  color: #111111;
  vertical-align:middle;
  padding-left: 20px;
}